<div class="auth-container">

  <h2>Reset Password</h2>

  <form (ngSubmit)="resetPassword()" #form="ngForm">

    <!-- NEW PASSWORD -->
    <div class="input-container">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
        minlength="6"
        placeholder=" "
      />
      <label>New Password</label>
      <mat-icon class="eye-icon" (click)="togglePassword()">
        {{ showPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="input-container">
      <input
        [type]="showConfirmPassword ? 'text' : 'password'"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        placeholder=" "
      />
      <label>Confirm Password</label>
      <mat-icon class="eye-icon" (click)="toggleConfirmPassword()">
        {{ showConfirmPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
    </div>

    <!-- PASSWORD ERROR -->
    <p class="error" *ngIf="passwordMismatch">
      ⚠ Passwords do not match
    </p>

    <button
      class="btn-custom"
      type="submit"
      [disabled]="isSubmitting || passwordMismatch || !form.valid"
    >
      Reset Password
    </button>

  </form>

  <p class="message">{{message}}</p>

</div>